.BestSeller{
    width:70%;
    margin: 40px auto;
    display: grid;
    grid-template-areas: 
    "h1 h1 h1"
    "h1 h1 h1";
    gap: 20px;
   
}

.View{
    text-align: center;
    & a{
        color: #a39974;
        &:hover{
            color: #b9d4ce;  
        }
    }

}