@import "./variable.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 1.1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
/* .body_Page{
    padding-top: var(--height-header);
} */