@import "../../variable.css";

.Slider{
    width: 100%;
    height: calc(120vh - var(--height-header));
    overflow-x: hidden;
    position: relative;
    & .sliders{
          height: 100%;
          display: flex;
        transition: transform ease 0.8s;
    
        & .img_slider{
            width: 100%;
         
        }
          & .img_slider img{
              
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            
    
          }
    }
    & .dots{
        bottom: 10px;
        position: absolute;
        display: flex;
        gap: 20px;
        left: 50%;
        transform: translateX(-50%);
         & .dot{
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        width: 20px;
        height: 20px;
        &.active{
            background-color: rgb(241, 209, 166);
            border: 3px solid rgb(255, 255, 255);
        }
    }
    }
   
}
.content_slider{
    padding: 20px;
    background-color: var(--background-header);
    display: flex;
    list-style: none;
    justify-content: space-around;
    text-align: center;
    & li {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0.8;
        & .title{
            font-size: 24px;
            padding: 3px 0;
        }
    }
}